@model We_code.Models.Formation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomFormation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomFormation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionFormation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionFormation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
